@keyframes swinging {
    from {
        transform: rotate(0);
    }
    20% {
        transform: rotate(10deg)
    }
    40% {
        transform: rotate(-10deg)
    }
    60% {
        transform: rotate(10deg)
    }
    80%{
        transform: rotate(-10deg)
    }
    to {
        transform: rotate(0);
    }
   
}

@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shake{
    100% {
        transform: translateX(-30px);    
    }
}